.container-1 {
    border: none;
    margin: 0 auto;
    width: 45%;
    text-align: center;
    margin-top: 10%;
    background-color: #4070F4;
    border-radius: 10px;
    
}
body {
    background-color: white
}




.flex-box-container-1{
    display: flex;
    border: none;
    padding: 10px;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
}

.flex-box-container-1 div{
    display: flex;
    padding: 10px;
    border: px solid black;
    align-items: center;
}

.Instructions{
    border: none;
    margin: 0 auto;
    width: 45%;
    text-align: center;
    margin-top: 10%;
    background-color: #738dd4;
    border-radius: 10px;
    
}